# Database Configuration
DATABASE_URL=postgres://postgres:password@localhost:5432/digital_wallet?sslmode=disable

# Redis Configuration
REDIS_URL=redis://localhost:6379

# Paystack Configuration
PAYSTACK_SECRET_KEY=sk_test_your_secret_key_here
PAYSTACK_PUBLIC_KEY=pk_test_your_public_key_here

# Server Configuration
PORT=8080
LOG_LEVEL=info
GIN_MODE=debug

# JWT Configuration
JWT_SECRET=superstrongsecret

# Environment
ENVIRONMENT=development
